<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<ul>
<div class = "about_me" >
	<li><a href="{{ url_for('home_page')}}">Home</a></li>
	<li><a href="{{ url_for('about_me')}}">About Me</a></li>
	<li><a href="{{ url_for('contact_me')}}">Contact Me</a></li>

</ul>
</div>
<div align = "center">
<h1>	Shaked Hadad	</h1>
<h2>	A bit about me:	</h2>
<p> I live in Beit Shemesh</p>
<p> I'm on 11th grade, I learn in Branco Weiss, Beit Shemesh </p>
<p> I like FOOD,clothes,music and my friends</p>
<p> I'm on a program called MEET and I lik it</p>
<p> I really like the Tv shows: HIMYM, f.r.i.e.n.d.s and That 70s show</p>
<p>I volunteer in MDA</p>
</div>
</body>
</html>
