<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title> welcome to the Shaked world </title>
</head>
<body>
<div class = "menu" >
<ul>
	<li><a href="{{ url_for('home_page')}}">Home</a></li>
	<li><a href="{{ url_for('about_me')}}">About Me</a></li>
	<li><a href="{{ url_for('contact_me')}}">Contact Me</a></li>

</ul>
</div>
<div align = "center">
<h1>	Shaked Hadad	</h1>
<p>Hey there, my name is Shaked, I'm 16 years old and I live in Beit Shemesh, Israel</p>
</div>
</body>
</html>
